h1,
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(78, 86, 104, 1.00);
    background-color: rgba(217, 222, 232, 1.00);
    border: 2px solid rgba(78, 86, 104, 1.00);
    padding: 5px;
    margin: 15px;
}

h1 {
    text-align: center;
}

li {
    font-size: 18px;
}

.desc {
    font-size: 20px;
}