body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(217, 222, 232, 1.00);
}

a {
    color: rgba(101, 128, 168, 1.00);
}

a:visited {
    color: rgba(174, 143, 171, 1.00);
}

h1,
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(78, 86, 104, 1.00);
    background-color: rgba(217, 222, 232, 1.00);
    border: 2px solid rgba(78, 86, 104, 1.00);
    padding: 5px;
    width: 50%;
    margin: 15px auto;
}

h1 {
    text-align: center;
}

li {
    font-size: 18px;
}

.content {
    background-color: rgba(79, 85, 102, 1.00);
    width: 80%;
    margin: 20px auto;
    padding: 30px 15px;
}

.ingredients {
    padding: 5px;
    width: 50%;
    margin: 20px auto;
}

.desc {
    padding: 5px;
    font-size: 20px;
    text-align: center;
    width: 75%;
    margin: 20px auto;
}

.image {
    padding: 5px;
    text-align: center;
}

.recipe {
    padding: 5px;
    width: 75%;
    margin: 20px auto;
}

.recipe-list {
    background-color: rgba(217, 222, 232, 1.00);
    width: 80%;
    margin: 20px auto;
    font-size: 20px;
}

.list-of-recipes>li {
    display: inline;
    padding: 20px;
}